@import '../../../../scss/variables';

.container {
	width: 1050px;
	margin: 0px auto;
}

.discover {
	padding: 80px 0px;

	&__info {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		margin-bottom: 60px;
	}

	&__title {
		margin-bottom: 10px;
		font-size: 38px;
		font-weight: 600;
		line-height: 120%;
	}

	&__text {
		font-size: 22px;
		line-height: 160%;
		font-weight: 400;
	}

	&__button {
		display: flex;
		align-items: center;
		width: fit-content;
		height: fit-content;
		padding: 19px 50px;
		font-size: 16px;
		font-weight: 600;
		line-height: 140%;
		border: 2px solid $purple;
		border-radius: 20px;

		&Text {
			margin-left: 12px;
		}
	}

	&__cards {
		display: flex;
		justify-content: space-between;
	}

	&__card {
		background-color: $gray;
		border-radius: 20px;

		&NftImg {
			border-top-left-radius: 20px;
			border-top-right-radius: 20px;
		}

		&Info {
			padding: 20px 30px 25px;
		}

		&Title {
			margin-bottom: 5px;
			font-size: 22px;
			line-height: 140%;
		}

		&Author {
			display: flex;
			align-items: center;
			margin-bottom: 25px;
		}

		&Img {
			margin-right: 12px;
			border-radius: 50px;
		}

		&Text {
			display: flex;
			justify-content: space-between;
			margin-bottom: 8px;
			font-size: 12px;
			line-height: 110%;
			color: $darkGray;
		}

		&Num {
			display: flex;
			justify-content: space-between;
			line-height: 140%;
		}
	}
}
